body {
  font-family: "Open Sans Condensed", sans-serif;
  /* 20px on the top and 80px in the side */
  padding: 20px 60px;
}

/* Takes away the underline under links */
a {
  text-decoration: none;
  color: black;
}

/* asterisk * means every element */
* {
  box-sizing: border-box;
}
